#navbar-container {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

#navbar-container h2 {
    font-weight: 600;
    color: black;
    text-decoration: none !important;
}

#navbar-container a {
    text-decoration: none !important;
}

#navbar-container a:hover h2 {
    color: rgba(0, 0, 0, 0.61);
}

.navbar-nav-options .dropdown-toggle {
    background: none !important;
    border: none !important;
}

.dropdown, .dropdown-toggle, .navbar-nav-options {
    height: 2.9rem;
}

.dropdown-toggle:focus {
    box-shadow: none !important;
}

.dropdown-menu.show {
    padding: .3rem;
    font-size: 1.7rem;
}

.navbar-user-icon {
    display: flex;
    flex-direction: row;
}
.navbar-user-icon:hover {
    color: rgba(0, 0, 0, 0.61) !important;
}

.navbar-cart-container, .navbar-cart-container a, .navbar-user-container, .navbar-user-container a {
    display: flex;
    align-items: flex-end;
    padding-right: 1rem;
    color: black;
}

.navbar-cart-container h3 {
    font-size: 2rem;
    margin-top: .4rem !important;
}

.navbar-cart-container a:hover, .navbar-user-container a:hover {
    text-decoration: none;
    color: black;
    opacity: .6;
    cursor: pointer;
}

.navbar-login-register-container a, .navbar-login-register-container a h3 {
    color: black !important;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none !important;
}

.navbar-login-register-container a h3:hover {
    opacity: .6;
}

.navbar-nav-options h3 {
    padding-left: .4rem;
    margin-bottom: .25rem;
}

.navbar-user-icon svg {
    position: relative;
    bottom: .4rem;
}

.navbar-user-icon svg, .navbar-cart-icon svg {
    height: 3rem;
    width: 3rem;
}

.navbar-cart-container {
    margin-left: 2rem;
}